* {
    margin: 0;
    padding: 0;
}

.container {
    border: solid 10px skyblue;
    padding: 5px;
    display: flex; /* below max width collapse proportionally */
    max-width: 1000px; /* max content size */
    margin: auto; /* center main content */
}

/* HEADER */

#logo{
   margin-right: auto; /* float logo left */
   background: orchid;
   height: 100px;
}

#header {
    display: flex;
    align-items: center; /* vertical center nav links */
    justify-content: flex-end;
}

#header ul {
    background: tomato;
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 650px;
}

@media only screen and (max-width: 850px) {
    #header ul {
        background: red;
        width: 76vw; /* 650px/850px beings to compress */
    }
}