* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    text-decoration: none;
}

.container {
    display: flex; /* below max width collapse proportionally */
    max-width: 1000px; /* max content size */
    margin: auto; /* center main content */
}

/***************************/
/* HEADER - HOME */
/***************************/

#header {
    padding: 40px 0;
}

#logo {
   display: flex;
   margin-right: auto; /* float logo left */
   height: auto;
   justify-content: center;
   align-items: flex-end;
}

#logo img {
    height: 80px;
}

nav {
    display: flex;
    align-items: center; /* vertical center nav links */
    justify-content: flex-end;
}

#nav-links {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.nav-link {
    border: solid 2px #800000;
    padding: 10px 30px;
    border-radius: 10px;
    margin-right: 10px;
}

.nav-link:hover {
    background: #800000;
}

#nav-links a {
    color: #800000;
    text-transform: uppercase;
}

#nav-links a:hover {
    color: white;
}

#header-banner {
    height: 450px;
    background-image: linear-gradient(rgb(255, 255, 255), rgba(115, 109, 134, 0.7)), url("images/vancouver-skyline.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#header-banner .banner-text {
    width: 1000px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 30px 30px;
    font-size: 36px;
    text-align: center;
    color: white;
}

#header-banner .link {
    font-size: 20px;
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 200px;
    margin-bottom: 50px;
}

#header-banner .link:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

@media only screen and (max-width: 850px) {
    #header ul {
        background: red;
        width: 76vw; /* 650px/850px begins to compress */
    }
}

/***************************/
/* MAIN - HOME */
/***************************/

.main {
    display: flex;
    flex-direction: column;
}

.hp-row {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.hp-text {
    padding: 40px;
    text-align: center;
}

.hp-text h3 {
    font-weight: 300;
    font-size: 40px;
}

.hp-text p {
    margin: 20px;
    line-height: 30px;
}

.hp-img img {
    height: 300px;
}

.hp-links {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.hp-link {
    height: 50px;
    display: flex;
    align-items: center;
    margin: 5px 20px;
    padding: 10px;
    width: 200px;
    border: solid 2px #800000;
    border-radius: 10px;
    color: #800000;
    font-size: 18px;
}

.hp-link:hover {
    color: white;
    background-color: #800000;
}

.hp-link:hover .hp-icon {
    filter: brightness(0) invert(1); /* white icons */
}

.hp-icon {
    padding: 0 15px;
    max-height: 35px;
}

/***************************/
/* MAIN - SECONDARY */
/***************************/

/* BANNER */

#services-banner {
    background-image: linear-gradient(rgb(255, 255, 255, 0), rgba(30, 33, 43, 0.7)), url("images/medical-bldg.jpeg");
}

#employment-banner {
    background-image: linear-gradient(rgb(255, 255, 255, 0), rgba(30, 33, 43, 0.7)), url("images/employment.jpg");
}

.banner {
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.banner h1 {
    color: white;
    text-transform: uppercase;
    font-size: 100px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

/* MAIN */

.main-content {
    display: flex;
}

.primary-content {
    width: 750px;
    margin-top: 30px;
}

.sidebar-content {
    background-color: #eee;
    padding: 10px;
    width: 250px;
    margin-left: 20px;
}

.sidebar-links {
    list-style: none;
}

.sidebar-links li {
    font-size: 18px;
    padding: 10px;
    text-transform: uppercase;
}

.sidebar-links a {
    color: #1e212b;
}

.sidebar-links p {
    font-size: 14px;
    padding-left: 15px;
    color: rgb(71, 71, 71);
    margin-bottom: 20px;
}

.sidebar-links .active {
    border-left: solid 3px #deb887;
}

.call-block {
    background-color: #800000;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
}

.call-block p:last-child {
    font-size: 40px;
}

.content {
    padding-right: 20px;
}

.trial-block {
    background-color: #ffebcd;
    font-size: 18px;
    text-align: center;
    padding: 20px;
}

#services-map {
    width: 750px;
}

.divider {
   width: 400px;
   margin: 20px auto;
   border: 1px solid #800000;
}

.header-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 0;
}

.header-block h2 {
    font-weight: 300;
    font-size: 40px;
}

.header-block h3 {
    font-style: italic;
    color: grey;
    font-size: 25px;
    font-weight: 300;;
}

.header-block #listings {
    color: crimson;
    font-style: normal;
    font-weight: 600;
}

.content-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-col {
    padding: 20px;
}

.col-lt {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #1e212b;
    font-size: 24px;
    font-weight: 200;
    width: 150px;
    text-align: right;
}

.col-rt {
    width: 450px;
    border-left: 1px solid #800000;
}

#intl-info {
    background-color: #daa520;
    padding: 8px;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
}

#employ-types {
    font-size: 14px;
}

#employ-types td {
    padding: 5px;
}

#jobs-board {
    width: 100%;
}

#jobs-board td {
    background-color: ivory;
    color: darkslategray;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    vertical-align: top;
    font-size: 14px;
}

#jobs-board .job-link {
    margin-top: 10px;
    display: inline-block;
    background-color: darkslategray;
    color: white;
    padding: 8px;
    border-radius: 5px;
}

/***************************/
/* FORMS */
/***************************/

#application-form {
    padding: 20px 0;
}

#application-form h4 {
    font-weight: 500;
    font-size: 24px;
    padding: 10px;
}

.application-header {
    background-color: #ffebcd;
    border-radius: 10px;
}

.form-section {
    padding: 10px;
}

.form-section input, label {
    padding: 8px;
    display: inline-block;
}

.form-section input, select {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}

.form-section label {
    font-size: 14px;
    display: inline-block;
}

.form-row {
    width: 100%;
    margin-bottom: 10px;
}

.form-row br {
    clear: both;
}

.form-row-fst {
    float: left;
    padding-right: 5%;
    width: 45%;
}

.form-row-fst input {
    width: 100%;
}

.form-row-scd {
    float: left;
    width: 45%;
}

.form-row select {
    padding: 8px;
    width: 100%;
}

.form-row-scd input {
    width: 100%;
}

.form-row input[type=file] {
    width: auto;
    border: none;
    background-color: #fff;
}

.form-row .form-selects {
    padding-left: 10px;
}

.form-row .form-selects input {
    width: auto;
}

input[type=submit] {
    background-color: #800000;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type=submit]:hover {
    background-color: #700000;
}


/***************************/
/* FOOTER */
/***************************/

#footer {
    background-color: rgb(223, 223, 223);
    margin-top: 50px;
}

#footer-cont {
    justify-content: space-between;
    padding: 30px 0 60px 0;
    color: #640600;
}

#footer .col h3 {
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 5px;
}

#footer .col p {
    font-size: 12px;
}