* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

.container {
    display: flex; /* below max width collapse proportionally */
    max-width: 1000px; /* max content size */
    margin: auto; /* center main content */
}

/***************************/
/* HEADER */
/***************************/

#header {
    padding: 40px 0;
}

#logo {
   display: flex;
   margin-right: auto; /* float logo left */
   height: auto;
   justify-content: center;
   align-items: flex-end;
}

#logo img {
    height: 80px;
}

#header nav {
    display: flex;
    align-items: center; /* vertical center nav links */
    justify-content: flex-end;
}

#header ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.button {
    border: solid 2px #640600;
    padding: 10px 30px;
    border-radius: 10px;
    margin-right: 10px;
}

.button:hover {
    background: #cccccc;
}

#header li a {
    text-decoration: none;
    color: #640600;
    text-transform: uppercase;
}

#header-banner {
    height: 500px;
    background-image: linear-gradient(rgb(255, 255, 255), rgba(115, 109, 134, 0.7)), url("images/vancouver-skyline.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#header-banner h2 {
    width: 1000px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 250px 30px;
    font-size: 40px;
    text-align: center;
    color: white;
    margin: auto;
}

@media only screen and (max-width: 850px) {
    #header ul {
        background: red;
        width: 76vw; /* 650px/850px beings to compress */
    }
}

/***************************/
/* MAIN */
/***************************/

#main {
    display: flex;
    flex-direction: column;
}

.feature-row {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.feature-text {
    padding: 40px;
    text-align: center;
}

.feature-text h3 {
    font-weight: 300;
    font-size: 40px;
}

.feature-text p {
    margin: 20px;
    line-height: 30px;
}

.feature-img img {
    height: 300px;
}

.feature-links {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.feature-link {
    height: 55px;
    display: flex;
    align-items: center;
    margin: 5px 20px;
    padding: 10px;
    width: 200px;
    border: solid 2px #640600;
    border-radius: 10px;
    color: #640600;
    font-size: 18px;
}

.feature-link:hover {
    box-shadow: 5px 5px 10px #888888;
}

.feature-icon {
    padding: 0 15px;
    max-height: 40px;
}

.phone-banner {
    background-color: #800000;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
}

hr {
   width: 400px;
   margin: 20px auto;
   border: 1px solid #800000;
}

/***************************/
/* BANNER */
/***************************/

.banner {
    background-image: linear-gradient(rgb(255, 255, 255, 0), rgb(218, 165, 32, 0.5)), url("images/medical-bldg.jpeg");
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-bottom: 30px;
}

.banner h1 {
    color: white;
    text-transform: uppercase;
    font-size: 120px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.services-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 0;
}

.services-title h2 {
    font-weight: 300;
    font-size: 40px;
}

.services-title h3 {
    font-style: italic;
    color: grey;
    font-size: 25px;
    font-weight: 300;;
}

.services-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services-col {
    padding: 20px;
}

.col-lt{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #1e212b;
    font-size: 25px;
    font-weight: 200;
    width: 200px;
}

.col-rt {
    width: 600px;
    border-left: 1px solid #800000;
}

.service-links {
    display: flex;
    justify-content: center;
}

.button-secondary {
    background-color: #daa520;
    padding: 20px 40px;
    border-radius: 10px;
    margin: 50px 20px;;
    color: white;
    font-size: 20px;
}

/***************************/
/* FOOTER */
/***************************/

#footer {
    justify-content: space-between;
    padding: 30px 0;
    color: #640600;
}

#footer .col h3 {
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 5px;
}

#footer .col p {
    font-size: 12px;
}